html, .shop-banner-home{
    margin: 0;
    height: 100%;
    background-image: url(./assets/shop-banner-expo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

html, .shop-banner-bags{
    margin: 0;
    height: 100%;
    background-image: url(./assets/shopping-bags-expo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
}